<div class="border-start border-end border-bottom border-dashed mx-md-14 mx-6 position-relative">
    <div class="position-absolute start-0 translate-middle">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus text-gray-400"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
    </div>
    <div class="position-absolute start-100 translate-middle">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus text-gray-400"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
    </div>
<footer class="pt-xxl-14 pt-8">
    <div class="container">
        <div class="row pb-xxl-14 pb-8">
            <div class="col-12">
                <div class="text-center">
                    <div class="d-flex flex-column gap-3">
                        <a href="#!"><img src="../assets/images/logo/dasher-logo.svg" alt="logo"></a>
                        <p class="mb-0">Thank you for downloading Dasher to create, customize and grow with it! Enjoy Dasher!</p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</footer>
</div>
<div class="border-start border-end border-dashed mx-md-14 mx-6 position-relative">
    <div class="position-absolute start-0 translate-middle">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus text-gray-400"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
    </div>
    <div class="position-absolute start-100 translate-middle">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus text-gray-400"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
    </div>
<div class="py-6 text-center">
    <p class="mb-0">Thank you for creating with <a href="#!">Dasher</a> | 2025 © 
        <a href="#!">CodesCandy</a>
     </p>
</div>
</div>